.que-main{
  display: grid;
  grid-template-columns: 150px 210px 150px 210px 150px 210px 150px 210px ;
  grid-auto-flow: column;
  grid-gap: 10px;
  .que-main__item{
    background: #F5F5F5;
    border-radius: 15px;
    padding: 15px;
    //font-size: 14px;
  }
}
