$pink: #ea8aa5;
$light-blue: #6ab7e2;
$small-desktop: 1000px;
$large-desktop: 1200px;
$handheld: 768px;
$handhelds-landscape: 1000px;
$mobile: 640px;
$mobile-landscape: 480px;
$mobile-minimum: 333px;

$body-color : #fafafa;
$dark-grey: #0D0E0E;
$light-gray: #858585;
$primary : #1a27c9;
$warning : #FBDE3F;
$input-placeholder-color: #858585;
