// @include respond-to(from-smallDesktop){}
//@import "mixins";
.vertical-line {
  border-left: 2px solid white;
}
.login-container{
    margin-top: 8%;
    margin-bottom: 4%;
    color: $dark-grey;
    font-size: 14px;
    .login-form-2 {
        border-left: 4px solid black;
    }
    .heading-underline {
        border-bottom: 2px solid black;
    }
    .back-btn {
        margin: 175px 0px 0px 90px;
    }
  .user-profile-img {
    border-radius: 50%;
    border: 8px solid black;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .profile-area {
    .w-35 {
      width: 35%;
      .userImage {
        width: 100%;
        height: 100%;
        max-height: 116px;
        background-color: white;
      }
    }
    .w-60 {
      width: 60%;
    }
  }
  .user-info-input {
    background-color: #f3f3f3;
    border-radius: 3px;
    margin: 0px 2px;
    input {
      border: none;
      background: transparent;
      padding: 0px;
      font-size: small;
      color: black;
    }
  }
    @media only screen and (max-width: 768px) {
        .theme-button {
            width: 100%;
            padding: 10px;
        }
        .login-form-2 {
            border-left: none;
        }
      .back-btn {
        margin: 0px;
      }
      .mobile-d-none {
        display: none;
      }
    }
}
.header-sec {
  position: fixed;
  width: 100%;
  color: white;
  padding: 30px 0px;
  z-index: 99;
  & a{
    text-decoration: none;
    color: inherit;
    &:hover{
      color:  inherit;
    }
  }
}
.banner {
  height: 500px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrap-text {
    white-space: pre-line;
  }
  .main-sub-heading {
    width: 50%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .display-1 {
    font-size: 3rem;
    @media only screen and (max-width: 768px) {
        font-size: 2rem;
    }
  }
}
.heading-with-line-white {
  border-color: white;
  color: white;
}
.heading-with-line-gray {
  border-color: $light-gray;
  color: $light-gray;
}
.heading-with-line-white, .heading-with-line-gray {
  overflow: hidden;
  &:after {
    content:'';
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid ;
    width: 35px;
    vertical-align: middle;
    margin-left: 25px;
    vertical-align: middle;
  }
}

.footer-container {
  line-height: 35px;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-light-gray {
  color: $light-gray;
  background-color: $island-white;
  &:hover {
    color: $light-gray;
  }
}
.file-btn {
  position: relative!important;
  overflow: hidden;
  input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}

.home-page {
  .btn-app-link {
    &:hover{
      opacity: 0.8;
    }
  }
}
